body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  background-color: #39CCCC;
}
body h1{
  font-size: 30px;
  color: #001f3f;
}

body section{
  background-color:#3D9970;
  margin:5px;
}
section h2{
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
}


/** HEADER **/
#header-nav {
  background-color: #3D9970;
  padding-bottom:5px;
}


.navbar-brand { /* Restaurant name */
  padding-top: 25px;
  font-family: 'Lora', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

/* END HEADER */

